[Desktop Entry]
Type=Link
Name=Atto
Icon=icon.png
Comment=This is the Atto profile that is universal for most systems. Choose this if you are not sure what to choose.
